*{
  margin: 0;
  padding: 0;
}
h1{
  font-size: 2em;
  color: white;
  font-family: Helvetica;
  padding-bottom: 0.2em;
}

body{
  overflow: hidden;
}

#body{
  margin: auto;
}

label{
  padding-bottom: 1em;
}

.hide{
  opacity: 0;
}
.not_hide_path{
  opacity: 1;
}
.not_hide_path.deadLinks{
  opacity: 0;
}
.not_hide_path.unselected{
  opacity: 0.25;
}

#characterList{
width: auto;

overflow-y: scroll;

height: 68%;

padding: 1em;
}

#nbrelations_article{
  text-align: center;

margin: 1em 0;

height: 10%;
}

.fleche{
  transition: opacity 0.2s,transform 0.5s;
  position: fixed;
  opacity: 0.5;
  top:10px;
  left: 16em;
  z-index: 10;
}

.fleche:hover{
  opacity: 1;
  cursor: pointer;
}

.flecheDown{
  transform: rotate(180deg)  translate(10em,0);
}
.flecheRotate{
  transform: rotate(180deg)  ;
}

nav{
  background-color: #0053A1 ;
  height: 100%;
  width: 15em;
  padding-top: 2em;
  font-family: Helvetica;
  padding-right: 0.25em;
  padding-left: 0.25em;
}
.filter {
  border:1px solid #fff;
  width: 13em;
  height: 2em;
  margin-top: 1em;
}

input{
  border:1px solid #fff;
  width: 100%;
  height: 2.5em;
  padding: 0.2em;
  margin-top: 0.2em;
  margin: 0.3em;
}
#display{
  width: 82.5%;
  height: 100%;
  float:left;
  position: absolute;
  top:0;
  left:15.5em;
}
#slidder{
  width: 100%;
  height: 10%;
  margin: 10px;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;

}

input[type=range] {
  -webkit-appearance: none;
  width: 95%;
  margin: auto;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16.8px;
  cursor: pointer;
  background: #0071a9;
  border-radius: 1.5px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 26px;
  width: 18px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2c3e50;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16.8px;
  cursor: pointer;
  background: #0071a9;
  border-radius: 1.5px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 26px;
  width: 18px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #0071a9;
  border: 0px solid #010101;
  border-radius: 3px;
}
input[type=range]::-ms-fill-upper {
  background: #0071a9;
  border: 0px solid #010101;
  border-radius: 3px;
}
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 26px;
  width: 18px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  height: 16.8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2c3e50;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2c3e50;
}

#range-slider_value{
  width: auto;
  height: 2em;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  background-color: #0071a9;
  padding: 5px 15px;

  display: flex;

}
#range-slider_p{
  margin: auto;
  color: white;
}
#arrow-left {
width: 10px;

height: auto;
margin: auto;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid #0071a9;
}
